.container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    h1{
        text-align: center;
        font-weight: bold;
    }
    .todo{
        border: 1px solid #000000;
        border-radius: 1px;
        padding: 10px;
        width: 400px;
        min-height: 600px;
        height: auto;
        max-height: 720px;
        overflow-y: auto;
        text-align: justify;
    }
    .done{
        @extend .todo;
    }
    .newtask{
        @extend .todo;
        input{
            width: 100%;
            height: 25px;
        }
        textarea{
            margin-top: 10px;
            resize: none;
            width: 100%;
            height: 230px;
        }
    }
}
.task{
    padding-top: 10px;
    width: 90%;
    margin: 5px auto 5px auto;
    max-height: 2000px;
    border: 3px solid $laravel-border-color;
    h2{
        text-align: center;
    }
    p{
        margin: 10px;
        max-height: 200px;
        overflow: hidden;
    }
}
.btn{
    display: flex;
    justify-content: space-between;

    .btn__change{
        color: #ffffff;
        background: $btn-color-done;
        border: 1px solid $btn-color-done;
        margin: 5px;
        padding: 5px 20px 5px 20px;
        
    }
    .btn__delete{
        @extend .btn__change;
        background: $btn-color-delete;
        border-color: $btn-color-delete;
    }
    .btn__more{
        background: $body-bg;
        border: 1px solid $body-bg;
        margin: 5px;
        padding: 5px 10px 5px 10px;
    }
}
